body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
}

textarea, .preview {
    width: 80%;
    padding: 15px;
    box-sizing: border-box;
    border: none;
    height: 40vh;
    overflow-y: auto;
    margin: 10px 0;
}

textarea {
    background-color: #272822;
    color: #f8f8f2;
    font-size: 1em;
    resize: none;
}

.preview {
    background-color: #ffffff;
    border: 2px solid #ddd;
    padding: 15px;
    min-height: 40vh;
    text-align: left;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}
